@page
@model UnitConverterWeb.Pages.TemperatureModel
@{
	ViewData["Title"] = "Temperature Converter";
}
<div class="text-center">
    <h1>Temperature Converter</h1>
</div>

@if (!string.IsNullOrEmpty(Model.convertedValue.ToString()))
{
    <div class="mt-4 text-center">
        <h3>Converted Value</h3>
        <h4>@Model.originalValue @Model.OriginalUnitMesure = @Model.convertedValue @Model.ResultUnitMesure</h4>
        <a class="btn btn-primary" asp-page="./Temperature">Convert Another Value</a>
    </div>
}
else
{
    <div class="container mt-4">
        <form method="post">
            <div class="mx-auto mb-3" style="max-width: 300px;">
                <label for="weight">Enter the weight to convert</label>
                <input type="number" class="form-control" id="weight" asp-for="TempConversionModel.Temperature" placeholder="temperature" />
                <span asp-validation-for="TempConversionModel.Temperature" class="text-danger"></span>
            </div>
            <div class="mx-auto mb-3" style="max-width: 300px;">
                <label for="originalUnit">Unit to Convert from</label>
                <input type="text" class="form-control" id="originalUnit" asp-for="TempConversionModel.OriginalUnit" placeholder="fahrenheit/celsius" />
                <span asp-validation-for="TempConversionModel.OriginalUnit" class="text-danger"></span>
            </div>
            <div class="mx-auto mb-3" style="max-width: 300px;">
                <label for="resultUnit">Unit to Convert to</label>
                <input type="text" class="form-control" id="resultUnit" asp-for="TempConversionModel.ResultUnit" placeholder="fahrenheit/celsius" />
                <span asp-validation-for="TempConversionModel.ResultUnit" class="text-danger"></span>
            </div>
            <div class="mx-auto mb-3" style="max-width: 300px;">
                <button type="submit" class="btn btn-primary">Convert</button>
            </div>
        </form>
    </div>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}